<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/anuviswan/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="anuviswan" />
            <add key="ClearTextPassword" value="d3d2db0aa5ef1dea2608b220a9cb1f8f94a51e74" />
        </github>
    </packageSourceCredentials>
</configuration>
